:root{
  --orange-ban: #FF751F;
  --dark_orange-ban: rgb(194, 81, 11);
  --light_black: #273333;
  --taint_white: #FCFCFC;
  --light_grey: rgb(199, 199, 199);
}

body {
  font-family: 'Noto Sans TC',sans-serif;
  background-color: var(--taint_white);
}

.header {
  /* background-color: var(--light_black); */  
  background-image: linear-gradient(var(--orange-ban), var(--dark_orange-ban));
  /* opacity: 0.9; */
  color: var(--taint_white);
} 

.logo-anchor {

}

.logo-img {
  width: 140px;
  background-color: #EEEEEE;
  border-radius: 5px;
}

.footer {
  background-color: var(--light_black);
  color: var(--taint_white);
  text-align: center;
} 
