/* font-family: 'Noto Sans TC',sans-serif;
   font-family: 'Roboto',sans-serif;
*/

/* Main page */

.page-container {
  background-color: var(--light_grey);
  /* background-color: var(--light_blue); */
  padding: 0;
}

.text-block {
  margin: 1em auto;
  padding: 3em 2em !important;
}

.text-block:nth-child(even) {
  background-color: var(--med_grey);
}

.text-title {
  margin: 5px auto;
  font-size: 1.7em;
  font-weight: bold;
}

.text-content {
  font-weight: bold;
}

/* Team Picture */

.team-img-container {
  position: relative;
  text-align: center;
  color: white;
}

.team-img-scroll-div {
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.team-img-scroll-icon {
  max-width: 140px;
}

#page-start {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

/* Models */
/*
--orange-ban: #FF751F;
TODO: Check
Sugiro depois uma ban para a cor usada aqui como no exemplo em cima que esta no header_footer.css
*/
#values-modal1 .modal-body, #values-modal2 .modal-body, #values-modal3 .modal-body, #values-modal4 .modal-body
{
  background-color: rgb(255, 247, 242);
}

#values-modal1 .modal-header, #values-modal2 .modal-header, #values-modal3 .modal-header, #values-modal4 .modal-header,
#values-modal1 .modal-footer, #values-modal2 .modal-footer, #values-modal3 .modal-footer, #values-modal4 .modal-footer {
  
  background-color: rgb(255, 135, 60);
  
}

#values-modal1 .modal-header h5 {
  /*color: var(--taint_white);*/
}

#values-modal1 .modal-footer button {
  /*background-color: var(--dark_grey);*/
}

/* Values */

#icons_site > .row {
  text-align: center;
}

/*Experiments */
#icons_site button img{
  width: 90%;
  height: 90%;
  transition: 0.75s;
}

/* crescimento de cerca de 10% */
#icons_site button img:hover {
  width: 111%;
  height: 111%;
}

#icons_site button:hover {
  color: black;
  font-size: 120%;
  transition:0.75s;
}

/*Exp end */

.values-icon {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.values-div {
  margin: 3px 0px 28px 0px;
}

.values-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;

}

.values-button:focus {
  outline: none !important;
}

.values-label{
  font-size: 1.2em;
  font-weight: bold;
} 



/* MEDIA QUERIES */

/* Small */
@media (min-width: 576px) {

}

/* Medium */
@media (min-width: 768px) {
  
}

/* Large */
@media (min-width: 992px) {
  
}

/* Extra Large */
@media (min-width: 1200px) {
  .page-container {
    max-width: 70%;
  }
}
