/* font-family: 'Noto Sans TC',sans-serif;
   font-family: 'Roboto',sans-serif;
*/

/* Main page */

.page-container {
  background-color: var(--light_grey);
  /* background-color: var(--light_blue); */
  padding: 0;
}

.text-block {
  margin: 1em auto;
  padding: 3em 2em !important;
}

.text-block:nth-child(even) {
  background-color: var(--med_grey);
}

.text-title {
  margin: 5px auto;
  font-size: 1.7em;
  font-weight: bold;
}

.text-content {
  font-weight: bold;
}


/* Values */

#icons_site > .row {
  text-align: center;
}

.values-icon {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.values-div {
  margin: 3px 0px;
}



/* gozo stuff */
#mexican_nando:hover 
{
  opacity: 0;
}

#surprise_cat 
{
  width: 256px;
  height: 256px;
  position: absolute;
  left: 22%;
  opacity: 0;
}

#surprise_cat:hover 
{
  opacity: 1;
}


/* MEDIA QUERIES */

/* Small */
@media (min-width: 576px) {

}

/* Medium */
@media (min-width: 768px) {
  
}

/* Large */
@media (min-width: 992px) {
  
}

/* Extra Large */
@media (min-width: 1200px) {
  .page-container {
    max-width: 70%;
  }
}
